@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.items-cont{
    color: black;
    font-family: 'Ubuntu';
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-left: 4vw;
}

.items-cont li{
    list-style-type: none;
}

.item-content{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.item-content h1{
    border-radius: 50%;
    background-color: #b41a12;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    color: white;
}

.questions-cont{
    display: flex;
    font-size: 15px;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.questions-cont h2{
    font-weight: normal;
    width: 40vw;
    text-align: start;
    margin-left: 3vw;
}

.questions-cont input{
    margin-left: 3vw;
    font-size: 18px;
    border-radius: 10px;
    padding: 0.5vw;
    text-align: center;
}

.questions-cont span{
    font-size: 20px;
    margin-left: 1vw;
}

.questions-cont #obser{
    font-size: 15px;
    margin-left: 2vw;
    font-family: 'Ubuntu';
    width: 400px; /* Ancho predeterminado */
    height: 50px; /* Altura predeterminada */
    resize: none;
}

.items-cont .intermediate-screen{
    text-align: left;
    padding-left: 30vw;
}

.intermediate-screen div{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.intermediate-screen div button{
    height: 40px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #b41a12;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.intermediate-screen div button + button{
    margin-top: 30px;
}

.intermediate-screen div button:hover{
    background-color: white;
    border: 2px solid #b41a12;
    color: black;
}