/* Estilos específicos para la página de login */
.login-page {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(150deg, #B41A12, #5a0505);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-right: 20px;
  width: 100%;
}

.login-page .login-container {
  background: #fff;
  padding: 2rem;
  border-radius: 0px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.login-page h2 {
  margin-bottom: 1rem;
  color: #150202c1;
}

.login-page .error {
  color: red;
  margin-bottom: 1rem;
}

.login-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.login-page .input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.login-page label {
  display: block;
  position: relative;
  width: 100%;
}

.login-page .floating-label {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 0.875rem;
  color: #999;
  transition: 0.3s ease;
  pointer-events: none;
  top: 25px;
}

.login-page input {
  padding: 30px 15px;
  width: 95%;
  border: 1px solid #b71010;
  border-radius: 1px;
  font-size: 1rem;
  transition: 0.3s;
  background-color: #f9f9f9;
  margin-top: 1rem;
}

.login-page input:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

.login-page input:focus ~ .floating-label,
.login-page input:not(:placeholder-shown) ~ .floating-label {
  top: -10px;
  font-size: 0.75rem;
  color: #5a0505;
}

.login-page button {
  background: #B41A12;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.3s;
}

.login-page button:hover {
  background: #360311;
}

/* Responsividad */
@media (max-width: 500px) {
  .login-page .login-container {
    width: 90%;
    padding: 1.5rem;
  }

  .login-page input {
    font-size: 0.9rem;
  }
}
